/* ========================= COLORS ========================= */
$black: #000;
$white: #fff;
$gray: #6c6c6d;
$gray_semilight: #9397A5;
$gray_light: #c7cbdb;
$input-bg: #f5f6f9;
$dark_blue: #0B394B;
$dark_blue2:#042431;
$red: #FA615B;
$invalid: #D82E3A;
$green: #009604;
$orange: #FA615B;
$grey-light-border: #eceff4;


$main_blue1 :#028E9B;
$main_blue2 :#1E6D74;
$main_blue3 :#015C65;
$purple_light :#71777d;
$main_blue_light1 :#35C0CD;
$main_blue_light2 :#5EC4CD;
$main_blue_dark1 :#362c36;
$main_blue_dark2 :#4d4c59;
$main_white :#f7f6f0;

/* ========================= END OF COLORS ========================= */

/* ========================= FONTS ========================= */

/* ========================= END OF FONTS ========================= */
$screen_xs_min: 480px;
$screen_sm_min: 768px;
$screen_md_min: 992px;
$screen_lg_min: 1200px;
$screen_xs_max: 767px;
$screen_sm_max: 991px;
$screen_md_max: 1199px
